<div class="container-fluid">
	<div class="row mt-5">
		<div class="d-flex justify-content-center m-0 p-0">
			<div class="col-8">
				<div class="card border-dark mb-3">
					<div class="card-header fs-3 card-bg-color text-white d-flex justify-content-between">
						<div class="d-flex align-items-center">
							<div class="fs-4">Status :
							</div>
							{% if decision.status == (constant('App\\Entity\\Decision::STATUS_CONFLICT')) %}
								<div class="ms-4 text-white fs-6 bg-danger pb-1 pe-3 ps-3 rounded-5">
								{% else %}
									<div class="ms-4 text-white fs-6 bg-success pb-1 pe-3 ps-3 rounded-5">
									{% endif %}
									<small>{{ constant('App\\Entity\\Decision::STATUSES')[decision.status] }}</small>
								</div>
							</div>
							<div>
								<div>
									<i class="fs-5 fa-regular fa-thumbs-up"></i>
									<span class="fs-6">({{ calculateOpinion(decision).like }})</span>
								</div>
								<div>
									<i class="fs-5 fa-regular fa-thumbs-down"></i>
									<span class="fs-6">(calculateOpinion(decision).dislike }})</span>
								</div>
							</div>
						</div>

						<div class="card-body m-0 p-0 mt-2">
							<div class="d-flex justify-content-between align-items-center">

								<div class="d-flex justify-content-between align-items-center w-100 ms-4 mt-2">
									<div class="fs-3 mt-3 mb-5">
										{{ decision.title}}
									</div>
								</div>
							</div>

							<h2 class="mt-2 mb-5 text-center">Compte-rendu</h2>
							{{ form_start(form) }}

							{% if decision.status == (constant('App\\Entity\\Decision::STATUS_CONFLICT')) %}
								<div class="d-flex align-items-center fs-4 ms-4 mb-4 mt-2">
									<div>
										{{ form_label(form.endAt) }}
									</div>
									<div class="ms-4 fs-5">
										{{ form_widget(form.endAt) }}
									</div>
								</div>
							{% else %}
								<div class="mt-4"></div>
							{% endif %}

							<div class="ms-4 me-4 mt-5">
								{{ form_row(form.report) }}
							</div>

							<div class="text-center mt-3 mb-2">
								{{ form_widget(form.submit,  {'label': 'soumettre'}) }}
							</div>

							{{ form_end(form) }}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
