<div class="decision-card card style-shadow col-3">
	{% if decision.status != constant('App\\Entity\\Decision::STATUS_DRAFT')%}
		<a class="link-card" href="{{ path('app_decision_show', { 'decision_id' : decision.id})}}">
	{% else %}
		<a class="link-card"> 
	{% endif %}
	
	<div class="">

		<div class="card-header thumb-position">
			<div class="position-status">
					{% include 'partials/_status-button.html.twig' with { 'status' : decision.status } %} 
			</div> 

			<div class="mt-1 thumb text-black">

				<div class="me-3">
					{% include 'partials/_like-button.html.twig' with { 'decision' : decision } %}
				</div>

			</div>
		</div>
	</div>

	<div class="title-decision card-body mx-2 p-1">
		<a>{{ decision.title}}</a>
	</div>

	<div class="date-decision mx-3 pb-4">
		<small>crée le
			<small>{{decision.createdAt | date('d/m/Y')}}</small>
			</small>
	</div>

	<div class="mx-3">
		<div class="position-user-decision">
				<i class="fs-5 rounded-4 bg-light p-3 fa-regular fa-user"></i>
				<a class="ms-2 text-decoration-none text-muted">{{decision.owner.firstname}}
					{{decision.owner.lastname}}</a>
		</div>
	</div>
	</a>
</div>
