<div class="d-flex align-items-center">
	<div class="d-flex p-1 status rounded-1 border">
		{% if click is defined and decision.status == constant('App\\Entity\\Decision::STATUS_CONFLICT') %}
			<a class="d-flex text-decoration-none" 
					href="{{ path('app_decision_validation', { 'decision_id' : decision.id, 'state' : 'like'})}}">
				<div class="fs-5 fa-regular fa-thumbs-up text-dark"></div>
				<div class="ms-1 me-2 text-dark">({{ calculateExpert(decision).like }})</div>
			</a>
		{% else %}
			<div class="fs-5 fa-regular fa-thumbs-up text-dark"></div>
			<div class="ms-1 me-2 text-dark">({{ calculateExpert(decision).like }})</div>
		{% endif %}
	</div>
	<div class="d-flex p-1 status rounded-1 border" >

		{% if click is defined and decision.status == constant('App\\Entity\\Decision::STATUS_CONFLICT') %}
			<a class="d-flex text-decoration-none" 
				href="{{ path('app_decision_validation', { 'decision_id' : decision.id, 'state' : 'dislike' })}}">
				<div class="fs-5 fa-regular fa-thumbs-down text-dark"></div>
				<div class="ms-1 me-2 text-dark">({{ calculateExpert(decision).dislike }})</div>
			</a>
		{% else %}
			<div class="fs-5 fa-regular fa-thumbs-down text-dark"></div>
			<div class="ms-1 me-2 text-dark">({{ calculateExpert(decision).dislike }})</div>
		{% endif %}
	</div>
	<div class="d-flex p-1 rounded-1">
		<div class="fs-6 text-dark">>50%</div>
	</div>

</div>
