<nav class="navbar navbar-expand-lg navbar-light border border-dark bg-white navbar-height sticky-top">
	<div class="container-fluid">
		<div class="nav nav-pills nav-fill col-4">
			<a class="dropdown-item" href="{{ path('app_dashboard') }}">
				<img class="logo" src="{{ asset('build/images/logo-makesense.png') }}">
			</a>
		</div>
		<div class="col-8 nav justify-content-end align-items-center">
			{% if app.request.attributes.get('_route') == 'app_dashboard' %}
				<li class="nav-item col-4">
					<div class="">
						{{ form_start(form, {'attr': {'id': 'form_search'}}) }}
						<div class="w-75">
							{{ form_widget(form.search_title, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="">
							<button class=" btn text-black my-2 my-sm-0">
								<i class="fa fa-search"></i>
							</button>
						</div>
						{{ form_end(form) }}
					</div>
				</li>
			{% endif %}
			<li class="nav-item">
				<a href="{{ path('app_decision_new') }}" class="fs-6 me-5 btn button-make-sense" type="button">ajouter une décision</a>
			</li>


			<li class="nav-item ">
				<a href="{{ path('app_decision_search') }}" class="fs-4 me-5 btn" type="button">
					Décisions
				</a>
			</li>
			<li class="nav-item ">
				<a href="{{ path('app_notification') }}" class="fs-4 btn" type="button">
					Notification
				</a>
				{{ render(controller('App\\Controller\\NotificationController::sumNotification', {default: 'Loading...'})) }}
			</li>
			<li class="nav-item">
				<div class="dropdown">
					<a href="#" class="fs-4 me-5 btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						Mon Profil
					</a>
					<ul class="dropdown-menu">
						{% if is_granted('ROLE_ADMIN') %}
							<li>
								<a class="fs-5 dropdown-item" href="{{ path('app_user_admin')}}">Utilisateurs</a>
							</li>
						{% endif %}
						<li>
							<a class="fs-5 dropdown-item" href="{{ path('app_user_show', {'id': app.user.id})}}">Mes décisions</a>
						</li>
						<li>
							<a class="fs-5 dropdown-item" href="{{ path('app_logout')}}">Se déconnecter</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				{% if app.user.poster != "" %}
					<a href="{{ path('app_logout')}}">
						<img class="rounded-5" src="{{ vich_uploader_asset(app.user, 'posterFile') }}" style="height:45px; width:45px" alt="..">
					</a>
				{% else %}
					<i class="fs-5 rounded-4 bg-light p-3 fa-regular fa-user"></i>
				{% endif %}
			</li>

		</div>
	</nav>
