<div class="container-fluid">
	<h2 class="mt-5 text-white text-center">Liste des notifications</h2>
	<div class="row mt-5 d-flex justify-content-center">
		<div class="col-10">
			<table class="table table-striped table-bordered bg-grey-light border-0 rounded-5">
				<thead>
					<tr class="text-dark fs-4">
						<th class="col-4 text-center">Décision</th>
						<th class="col-4 text-center">Message</th>
						<th class="col-2 text-center">Status</th>
						<th class="col-2"></th>
					</tr>
				</thead>
				<tbody class="">
					<form method="POST">
						{% for notification in notifications %}
							<tr class="bg-white">
								<td class="col-4">

									<button class="fs-4 btn btn-link text-dark text-decoration-none" type="submit" name={{constant('App\\Entity\\Notification::STATUS_SHOW')}} value={{ notification[0].id }}>
										{{ notification[0].title }}
									</button>

									<div class="row date-decision fs-5 ms-1">
										<small>crée le
											<small>{{notification[0].createdAt | date('d M Y')}}
												par
												{{notification[0].owner.firstname}}{{notification[0].owner.lastname}}</small>
										</small>
									</div>

								</td>

								<td class="col-4 pt-4">
									{{ constant('App\\Entity\\Notification::NOTIFICATIONS_MESSAGE')[notification[0].status]}}
								</td>

								<td class="col-2 pt-4">
									{% include 'partials/_status-button.html.twig' with 
										{
											'status': notification[0].status, 
										} 
									%}

								</td>
								<td class="col-2 pt-4 text-center">
									{% include 'notification/button.html.twig' %} 
							
								</td>
							</tr>
						{% endfor %}
					</form>
				</tbody>
			</table>

			<div class="mt-5 navigation d-flex justify-content-center">
				{{ knp_pagination_render(notifications) }}
			</div>

		</div>
	</div>
</div>
