{% extends 'base.html.twig' %}

{% block title %}DecisionHistory index{% endblock %}

{% block body %}
    <h1>DecisionHistory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartedAt</th>
                <th>EndedAt</th>
                <th>Status</th>
                <th>Decision</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for decision_history in decision_histories %}
            <tr>
                <td>{{ decision_history.id }}</td>
                <td>{{ decision_history.startedAt ? decision_history.startedAt|date('Y-m-d') : '' }}</td>
                <td>{{ decision_history.endedAt ? decision_history.endedAt|date('Y-m-d') : '' }}</td>
                <td>{{ decision_history.status }}</td>
                <td>{{ decision_history.decision.title }}</td>
                <td>
                    <a href="{{ path('app_decision_history_show', {'id': decision_history.id}) }}">show</a>
                    <a href="{{ path('app_decision_history_edit', {'id': decision_history.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_decision_history_new') }}">Create new</a>
{% endblock %}
