{% extends 'base.html.twig' %}

{% block title %}DecisionHistory
{% endblock %}

{% block body %}
	<h1>DecisionHistory</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ decision_history.id }}</td>
			</tr>
			<tr>
				<th>StartedAt</th>
				<td>{{ decision_history.startedAt ? decision_history.startedAt|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>EndedAt</th>
				<td>{{ decision_history.endedAt ? decision_history.endedAt|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>{{ decision_history.status }}</td>
			</tr>
			<tr>
				<th>Decision</th>
				<td>{{ decision_history.decision.title }}</td>
			</tr>


		</tbody>
	</table>

	<a href="{{ path('app_decision_history_index') }}">back to list</a>

	<a href="{{ path('app_decision_history_edit', {'id': decision_history.id}) }}">edit</a>

	{{ include('decision_history/_delete_form.html.twig') }}
{% endblock %}
