<div class="container-fluid">
	<div class="row mt-5 mb-5">
		<div class="col-6 d-flex justify-content-center m-0 p-0">
			{% if myLastDecisions is not empty  %}
				<div class="card border-dark mb-3" style="width: 40rem;">
					<div class="card-header fs-3 text-center card-bg-color text-white">Mes dernières décisions créées</div>
					<div class="card-body m-0 p-0">
						{% for i in range(0, min(2, myLastDecisions|length-1)) %}
							<div class="d-flex justify-content-between align-items-center">
								<div class="d-flex align-items-center mt-2 mb-2 w-75">
									<div>
										<i class="fs-5 fa-regular fa-user rounded-5 bg-secondary p-2 ms-1"></i>
									</div>
									<div class="ms-2">
										<a class="text-decoration-none" href="#">{{ myLastDecisions[i].title  }}
											{{ myLastDecisions[i].id }}</a>
									</div>
								</div>
								<div class="mt-2 mb-2">
									<i class="fs-5 fa-regular fa-thumbs-up"></i>
									<a>({{ myLastDecisionsOpinion[i].like }})</a>
									<i class="fs-5 fa-regular fa-thumbs-down"></i>
									<a class="text-decoration-none me-2 text-dark">({{ myLastDecisionsOpinion[i].dislike }})</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>

		<div class="col-6 d-flex justify-content-center m-0 p-0">
			{% if allLastDecisions is not empty  %}
				<div class="card border-dark mb-3" style="width: 40rem;">
					<div class="card-header fs-3 text-center card-bg-color text-white">Les dernières décisions créées</div>
					<div class="card-body m-0 p-0">
						{% for i in range(0, min(2, allLastDecisions|length-1)) %}
							<div class="d-flex justify-content-between align-items-center border-2 border-bottom">
								<div class="d-flex align-items-center mt-2 mb-2 w-75">
									<div>
										<i class="fs-5 fa-regular fa-user rounded-5 bg-secondary p-2 ms-1"></i>
									</div>
									<div class="ms-2">
										<a class="text-decoration-none" href="#">{{ allLastDecisions[i].title  }}
											{{ allLastDecisions[i].id }}</a>
									</div>
								</div>
								<div class="mt-2 mb-2">
									<i class="fs-5 fa-regular fa-thumbs-up"></i>
									<a>({{ allLastDecisionsOpinion[i].like }})</a>
									<i class="fs-5 fa-regular fa-thumbs-down"></i>
									<a class="text-decoration-none me-2 text-dark">({{ allLastDecisionsOpinion[i].dislike }})</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-6 d-flex justify-content-center m-0 p-0">
			{% if myLastDrafts is not empty  %}
				<div class="card border-dark mb-3" style="width: 40rem;">
					<div class="card-header fs-3 text-center card-bg-color text-white">Mes derniers brouillons</div>
					<div class="card-body m-0 p-0">
						{% for i in range(0, min(2, myLastDrafts|length-1)) %}
							<div class="d-flex justify-content-between align-items-center border-2 border-bottom">
								<div class="d-flex align-items-center mt-2 mb-2 w-75">
									<div>
										<i class="fs-5 fa-regular fa-user rounded-5 bg-secondary p-2 ms-1"></i>
									</div>
									<div class="ms-2">
										<a class="text-decoration-none" href="#">{{ myLastDrafts[i].title  }}
											{{ myLastDrafts[i].id }}</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>

		<div class="col-6 d-flex justify-content-center m-0 p-0">
			{% if AllLastAccomplished is not empty  %}
				<div class="card border-dark mb-3" style="width: 40rem;">
					<div class="card-header fs-3 text-center card-bg-color text-white">Les dernières décisions abouties</div>
					<div class="card-body m-0 p-0">

						{% for i in range(0, min(2, AllLastAccomplished|length-1)) %}
							<div class="d-flex justify-content-between align-items-center border-2 border-bottom">
								<div class="d-flex align-items-center mt-2 mb-2 w-75">
									<div>
										<i class="fs-5 fa-regular fa-user rounded-5 bg-secondary p-2 ms-1"></i>
									</div>
									<div class="ms-2">
										<a class="text-decoration-none" href="#">{{ AllLastAccomplished[i].title  }}
											{{ AllLastAccomplished[i].id }}</a>
									</div>
								</div>

								<div class="mt-2 mb-2">
									<i class="fs-5 fa-regular fa-thumbs-up"></i>
									<a>({{ AllLastAccomplishedOpinion[i].like }})</a>
									<i class="fs-5 fa-regular fa-thumbs-down"></i>
									<a class="text-decoration-none me-2 text-dark">
										({{ AllLastAccomplishedOpinion[i].dislike }})
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>
