<div class="container-fluid">

	<div class="row mt-4">
		<div class="col-6 d-flex justify-content-center m-0 p-0">
			{% if myLastDecisions is not empty  %}
				<div class="card border-dark mb-3" style="width: 40rem;">
					<div class="card-header fs-3 text-center card-bg-color text-white">Mes dernières décisions créées</div>
					<div class="card-body m-0 p-0">
						{% for i in range(0, min(2, myLastDecisions|length-1)) %}
							<div class="d-flex justify-content-between align-items-center">
								<div class="d-flex align-items-center mt-2 mb-2 w-75">
									<div>
										<img class="ms-2 profil-photo" src="{{ asset('build/images/user.jpg') }}">
									</div>
									<div class="ms-2">
										<a class="text-decoration-none" href="#">{{ myLastDecisions[i].title  }}
											{{ myLastDecisions[i].id }}</a>
									</div>
								</div>

								<div class="mt-2 mb-2">
									<img class="like" src="{{ asset('build/images/thumbs-up-regular.png') }}">
									<a>({{ myLastDecisionsOpinion[i].like }})</a>
									<img class="like ms-2" src="{{ asset('build/images/thumbs-down-regular.png') }}">
									<a class="text-decoration-none me-2 text-dark">({{ myLastDecisionsOpinion[i].dislike }})</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>

		<div class="col-6 d-flex justify-content-center m-0 p-0">
			{% if allLastDecisions is not empty  %}
				<div class="card border-dark mb-3" style="width: 40rem;">
					<div class="card-header fs-3 text-center card-bg-color text-white">Les dernières décisions créées</div>
					<div class="card-body m-0 p-0">

						{% for i in range(0, min(2, allLastDecisions|length-1)) %}
							<div
								class="d-flex justify-content-between align-items-center border-2 border-bottom">
								{# <div class="mt-2 mb-2">
																																									<img class="ms-2 profil-photo" src="{{ asset('build/images/user.jpg') }}">
																																									<a class="ms-2 text-decoration-none" href="#">{{ allLastDecisions[i].title|u.truncate(50) }}</a>
																																								</div> #}

								<div class="d-flex align-items-center mt-2 mb-2 w-75">
									<div>
										<img class="ms-2 profil-photo" src="{{ asset('build/images/user.jpg') }}">
									</div>
									<div class="ms-2">
										<a class="text-decoration-none" href="#">{{ allLastDecisions[i].title  }}
											{{ allLastDecisions[i].id }}</a>
									</div>
								</div>

								<div class="mt-2 mb-2">
									<img class="like" src="{{ asset('build/images/thumbs-up-regular.png') }}">
									<a>({{ allLastDecisionsOpinion[i].like }})</a>
									<img class="like ms-2" src="{{ asset('build/images/thumbs-down-regular.png') }}">
									<a class="text-decoration-none me-2 text-dark">({{ allLastDecisionsOpinion[i].dislike }})</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-6 d-flex justify-content-center m-0 p-0">
			{% if myLastDrafts is not empty  %}
				<div class="card border-dark mb-3" style="width: 40rem;">
					<div class="card-header fs-3 text-center card-bg-color text-white">Mes derniers brouillons</div>
					<div class="card-body m-0 p-0">
						{% for i in range(0, min(2, myLastDrafts|length-1)) %}
							<div class="d-flex justify-content-between align-items-center border-2 border-bottom">
								<div class="d-flex align-items-center mt-2 mb-2 w-75">
									<div>
										<img class="ms-2 profil-photo" src="{{ asset('build/images/user.jpg') }}">
									</div>
									<div class="ms-2">
										<a class="text-decoration-none" href="#">{{ myLastDrafts[i].title  }}
											{{ myLastDrafts[i].id }}</a>
									</div>
								</div>

								{# <div class="mt-2 mb-2">
																																		<img class="like" src="{{ asset('build/images/thumbs-up-regular.png') }}">
																																			<a>({{ myLastDraftsOpinion[i].like }})</a>
																																			<img class="like ms-2" src="{{ asset('build/images/thumbs-down-regular.png') }}">
																																			<a class="text-decoration-none me-2">({{ myLastDraftsOpinion[i].dislike }})</a>
																																				</div> #}
							</div>
						{% endfor %}

					</div>
				</div>
			{% endif %}
		</div>

		<div class="col-6 d-flex justify-content-center m-0 p-0">
			{% if AllLastAccomplished is not empty  %}
				<div class="card border-dark mb-3" style="width: 40rem;">
					<div class="card-header fs-3 text-center card-bg-color text-white">Les dernières décisions abouties</div>
					<div class="card-body m-0 p-0">


						{% for i in range(0, min(2, AllLastAccomplished|length-1)) %}
							<div
								class="d-flex justify-content-between align-items-center border-2 border-bottom">
								{# <div class="mt-2 mb-2">
																																	<img class="ms-2 profil-photo" src="{{ asset('build/images/user.jpg') }}">
																																	<a class="ms-2 text-decoration-none" href="#">
																																		{{ AllLastAccomplished[i].title|u.truncate(50) }}
																																	</a>
																																</div> #}

								<div class="d-flex align-items-center mt-2 mb-2 w-75">
									<div>
										<img class="ms-2 profil-photo" src="{{ asset('build/images/user.jpg') }}">
									</div>
									<div class="ms-2">
										<a class="text-decoration-none" href="#">{{ AllLastAccomplished[i].title  }}
											{{ AllLastAccomplished[i].id }}</a>
									</div>
								</div>

								<div class="mt-2 mb-2">
									<img class="like" src="{{ asset('build/images/thumbs-up-regular.png') }}">
									<a>({{ AllLastAccomplishedOpinion[i].like }})</a>
									<img class="like ms-2" src="{{ asset('build/images/thumbs-down-regular.png') }}">
									<a class="text-decoration-none me-2 text-dark">
										({{ AllLastAccomplishedOpinion[i].dislike }})
									</a>
								</div>
							</div>
						{% endfor %}

					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>
