{% extends 'base.html.twig' %}

{% block body %}

{{ dump(decision) }}
<div class="mt-2 mb-2"> 

		<div class="col-15 d-flex justify-content-center m-0 p-0">

			<div class="card border-dark mb-3" style="width: 60rem;">
				<div class="card-header fs-3 text-center card-bg-color text-white">
         {{ decision.status }}
          <img class="like" src="{{ asset('build/images/thumbs-up-regular.png') }}">
          <a>{{ opinionLike.like }}</a>
          <img class="like ms-2" src="{{ asset('build/images/thumbs-down-regular.png') }}">
          <a>{{ opinionLike.dislike }}</a>
        </div>
			<div class="card-body m-0 p-0">

      <div class="title">
      {{ decision.title }} </br>
          <img class="like ms-2" src="{{ asset('build/images/user.jpg') }}">
      {{ decision.owner.imagefile ~ ' par ' }} <strong> {{ decision.owner.firstname ~ ' ' ~ decision.owner.lastname }} </strong> {{ ' le ' ~ decision.createdAt | date("m/d/Y")}}
      {{ decision.impacts }}
      </div>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Les details de la decision
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
      <div class="accordion-body">
         {{ decision.description }}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Impact sur l'organisation
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         {{ decision.impacts }}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Bénéfices
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{ decision.benefits }}
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Risques potentiels
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample" style="">
      <div class="accordion-body">
         {{ decision.risks }}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
      Avis 
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample" style="">
      <div class="accordion-body">

    {% for opinion in decision.opinions %}


    </br> <img class="like ms-2" src="{{ asset('build/images/user.jpg') }}">
    {{ opinion.user.firstname ~ " " ~ opinion.user.lastname }} </br> 

      {{ opinion.message }}

      {% endfor %}

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Premiere décisions
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample" style="">
      <div class="accordion-body">
         {{ decision.description }}
      </div>
    </div>
  </div>
</div>

<div class= "flex d-flex justify-content-center">
  <button type="button" class="mt-2 mb-2 rounded-5 col-2 card-bg-color text-white"  href="{{ path('decision_show', {'decision' : decision.id } ) }}">Donner son avis</button>
</div>

{% endblock %}
