{% extends 'base.html.twig' %}
{% block title %}Création d'une décision
{% endblock %}

{% block stylesheet %}
	{{ encore_entry_link_tags('datepicker') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('range') }}
{% endblock %}

{% block body %}

	{{ form_start(form) }}

	<div class="container-fluid d-flex justify-content-center">
		<div class="card mt-5">
			<div class="card-header card-bg-color">
				<h1 class="text-center text-white">Ajouter une décision</h1>
			</div>

			<div class="row col-12">
				<div class="card-body">
					<div class="mb-5 d-flex justify-content-center">
						<div class="col-10">
							{{ form_label(form.title) }}
							{{ form_widget(form.title) }}

							{% if form_errors(form.title) is not empty %}
								<div class="alert alert-warning">
									{{ form_errors(form.title) }}
								</div>
							{% endif %}
						</div>
					</div>


					<div class="mb-3 d-flex justify-content-center">
						<div class="col-10">
							<h4>{{ form_label(form.departments, 'Domaine') }}</h4>
						</div>
					</div>
					<div class="form-check mb-5 d-flex justify-content-around">
						<div class="col-10">
							{% for i in form.departments %}
								{{ form_widget(i) }}
								{{ form_label(i) }}<br>
							{% endfor %}
						</div>
					</div>

					<div class="mb-5 d-flex justify-content-center">
						<div class="col-10">
							{{ form_label(form.like_threshold) }}
							{{ form_widget(form.like_threshold) }}
							<p>Value:
								<span id="demo"></span>
							</p>
						</div>
					</div>


					<div id="datepicker" class="mb-5 d-flex justify-content-center">
						<div class="col-10">
							{{ form_label(form.end_at) }}
							{{ form_widget(form.end_at) }}

								{% if form_errors(form.end_at) is not empty %}
								<div class="alert alert-warning">
									{{ form_errors(form.end_at) }}
								</div>
							{% endif %}
						</div>
					</div>


					<div class="mb-5 d-flex justify-content-center">
						<div class="col-10">
							{{ form_label(form.description) }}
							{{ form_widget(form.description) }}

							{% if errors|length > 0 %}
								<div class="alert alert-warning">
									{{ form_errors(form.description) }}
								</div>
							{% endif %}
						</div>
					</div>


					<div class="mb-5 d-flex justify-content-center">
						<div class="col-10">
							{{ form_label(form.impacts) }}
							{{ form_widget(form.impacts) }}

							{% if errors|length > 0 %}
								<div class="alert alert-warning">
									{{ form_errors(form.impacts) }}
								</div>
							{% endif %}
						</div>
					</div>

					<div class="mb-5 d-flex justify-content-center">
						<div class="col-10">
							{{ form_label(form.benefits) }}
							{{ form_widget(form.benefits) }}

							{% if errors|length > 0 %}
								<div class="alert alert-warning">
									{{ form_errors(form.benefits) }}
								</div>
							{% endif %}
						</div>
					</div>


					<div class="mb-5 d-flex justify-content-center">
						<div class="col-10">
							{{ form_label(form.risks) }}
							{{ form_widget(form.risks) }}

							{% if errors|length > 0 %}
								<div class="alert alert-warning">
									{{ form_errors(form.risks) }}</li>
							</div>
						{% endif %}
					</div>
				</div>

				<div class="d-flex justify-content-around">
					{{ form_row(form.saveAsDraft) }}
					{{ form_row(form.save) }}
				</div>
			</div>
		</div>
	</div>


	{{form_end(form)}}
{% endblock %}
