{% extends 'base.html.twig' %}
{% block title %}Création d'une décision
{% endblock %}

{% block body %}

	{{ form_start(form) }}
	<legend class="d-flex justify-content-center mt-5 pt-5">Ajouter une annonce</legend>
	<div class="row mb-3 d-flex justify-content-center">
		<div class="col-3 pt-5">
			{{ form_row(form.title) }}
		</div>
	</div>

	<div class="row mb-3 d-flex justify-content-center">
		<div class="col-3">
			{{ form_row(form.description) }}
		</div>
	</div>

	<div class="row mb-3 d-flex justify-content-center">
		<div class="col-3">
			{{ form_row(form.impacts) }}
		</div>
	</div>

	<div class="row mb-3 d-flex justify-content-center">
		<div class="col-3">
			{{ form_row(form.benefits) }}
		</div>
	</div>

	<div class="row mb-3 d-flex justify-content-center">
		<div class="col-3">
			{{ form_row(form.risks) }}
		</div>
	</div>

	<div class="row mb-3 d-flex justify-content-center">
		<div class="col-3 pt-5">
			{{ form_row(form.likeThreshold) }}
		</div>
	</div>

	<div class="row mb-3 d-flex justify-content-center">
		<div class="col-3 pt-5">
			{{ form_row(form.department) }}
		</div>
	</div>

	<div class="row mb-3 d-flex justify-content-center">
		<div class="col-3">
			{{ form_row(form.submit) }}
		</div>
	</div>

	{{form_end(form)}}
{% endblock %}
