{% extends 'base.html.twig' %}

{% block title %}Decision - Show All !{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<div class="mt-2">
				<button class="offset-5 col-2 btn btn-secondary my-2 my-sm-0">Search</button>
			</div>
			{{ form_end(form) }}
			</div>
    </div>
    
	<div class="row mt-4">
{% for decision in decisions %}
		<div class="col-6 d-flex justify-content-center m-0 p-0">
			<div class="card border-dark mb-5" style="width: 40rem;">
				<div class="card-header fs-3 text-center card-bg-color text-white">{{decision.title}}</div>
				<div class="card-body m-0 p-0">
					{% for i in range(0,2) %}
						<div class="d-flex justify-content-between align-items-center border-2 border-bottom">
							<div class="mt-2 mb-2">
								<img class="profil-photo" src="{{ asset('build/images/user.jpg') }}">
								<a class="ms-2 text-decoration-none" href="#"></a>
							</div>
							<div class="mt-2 mb-2">
								<img class="like" src="{{ asset('build/images/thumbs-up-regular.png') }}">
								<a>(12)</a>
								<img class="like ms-2" src="{{ asset('build/images/thumbs-down-regular.png') }}">
								<a>(22)</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
{% endfor %}
{% endblock %}