{% extends 'base.html.twig' %}
{% block header %}
	{% include 'partials/_navbar.html.twig' %}
{% endblock %}

{% block body %}
	<div class="d-flex">
		<div class="container">
			<div class="position-status-like mt-4">

				<div class="status rounded-5 text-center mt-3" style="height: 30px; width:120px">
					{{ constant('App\\Entity\\Decision::STATUSES')[decision.status]}}
				</div>

				{% if decision.status != 'draft' and decision.status != 'undone' and decision.status != 'done' %}
					<div class="align-tumb">
					
					<div class="mt-2">
						{% include 'partials/_like-button.html.twig' with { 'decision' : decision, 'click' : true } %}
					</div>
					<div>seuil {{ decision.likeThreshold}}%</div>
					</div>
				{% endif %}
			</div>
			<h1>
				<section class="title mt-3">
					{{ decision.title  }}
				</section>
			</h1>
			<div class="card-body m-0 p-0">
				<img class="like ms-2" src=" {{ decision.owner.poster }} ">
				<strong>
					{{ decision.owner.firstname ~ ' ' ~ decision.owner.lastname }}
				</strong>
				<div class="accordion" id="accordionExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<section class="title">
									Les details de la decision
								</section>
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
							<div class="accordion-body">
								{{ decision.description | raw}}
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingTwo">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<section class="title">
									Impact sur l'organisation
								</section>
							</button>
						</h2>
						<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								{{ decision.impacts | raw}}
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingThree">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<section class="title">
									Bénéfices
								</section>
								<img class="icon" src="{{ asset('build/images/pouces.png') }}">
							</button>
						</h2>
						<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								{{ decision.benefits | raw}}
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingFour">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<section class="title">
									Risques potentiels
								</section>
								<img class="icon" src="{{ asset('build/images/light.png') }}">
							</button>
						</h2>
						<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample" style="">
							<div class="accordion-body">
								{{ decision.risks | raw }}
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingFive">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								<section class="title">
									Avis
									{{'(' ~ decision.opinions|length ~ ')'}}
								</section>
								<img class="icon" src="{{ asset('build/images/speech.png') }}">
							</button>
						</h2>
						<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample" style="">
							<div class="accordion-body">
								{% for opinion in decision.opinions %}
								</br>
								<img class="image" src="{{ decision.owner.poster }}">
								{{ opinion.user.firstname }}
								{{" " ~ opinion.user.lastname }}
							</br>
							<section class="avis">
								{{ opinion.message | raw}}
							</section>
						{% endfor %}
					</div>
				</div>
			</div>

			{% if decision.status != 'draft' or decision.status != 'current' %}
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingSeven">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
							<section class="title">
								Premiere décision
							</section>

							{% if decision.status == 'first_decision' and app.user == decision.owner %}
								<div>
									<a href="{{ path('app_decision_firstdecision', { 'decision_id' : decision.id }) }}" class="btn ms-3 fs-6 rounded-5 col-12 card-bg-color text-white">
										<small>{{ constant('App\\Entity\\Notification::NOTIFICATIONS_BUTTON')[decision.status]}}
										</small>
									</a>
								</div>
							{% endif %}

						</button>
					</h2>
					<div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSencen" data-bs-parent="#accordionExample" style="">
						<div class="accordion-body">
							{{ decision.report | raw}}
						</div>
					</div>
				</div>
			{% endif %}
			
			{% if decision.status == 'conflict' or decision.status == 'undone' or decision.status == 'done' 
					and expertDecision(decision, app.user) == true%} 
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingSix">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
							<section class="title">
								Avis d'expert
								{{'(' ~ decision.validations|length ~ ')'}}
							</section>
							{% if expertDecision(decision, app.user) == true and decision.status == 'conflict' %} 
								<div class= "ms-2">
									{% include 'partials/_like-expert-button.html.twig' with { 'decision' : decision, 'click' : true } %}
									{# <a href="{{ path('app_decision_firstdecision', { 'decision_id' : decision.id }) }}" class="btn ms-3 fs-6 rounded-5 col-12 card-bg-color text-white">
										<small>{{ constant('App\\Entity\\Notification::NOTIFICATIONS_BUTTON')[decision.status]}}
										</small>
									</a> #}
								</div>
							{% endif %} 

						</button>
					</h2>
					<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample" style="">
						<div class="accordion-body">
							{% for validation in decision.validations %}
							</br>
							<img class="image" src="{{ decision.owner.poster }}">
							{{ validation.user.firstname ~ " " ~ validation.user.lastname }}
						</br>
						<section class="expert">{{validation.comment | raw}}</section>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %} 
	
	{% if decision.status == 'undone' or decision.status == 'done' %}
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingSix">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
					<section class="title">
						Décision
						{{ constant('App\\Entity\\Decision::STATUSES')[decision.status] }}
					</section>
				</button>
			</h2>
		</div>
	{% endif %}

</div></div></div><div class="d-flex align-items-center justify-content-center col-3 m-0 p-0"><div class="history_fresco">
<div class="title2 mt-5 mb-3">
	<strong>Historique</strong>
</div>
<div class="history_decision">
	<div class="history_space_around">
		{% for history in decision.histories %}
			<div class="history_date">
				Du
				{{ history.startedAt | date("d M Y") }}
			</br>
			au
			{{ history.endedAt | date("d M Y") }}
		</div>
	{% endfor %}
</div>
<div class="history_separator">
	<img class="barre" src="{{ asset('build/images/trait.png') }}">
</div>

<div class="history_space_around">
	{% for history in decision.histories %}
		<div class="history_status">
			{{ constant('App\\Entity\\Decision::STATUSES')[history.status] }}
		</div>
	{% endfor %}
</div></div>

{# <div class="select">
{% if decision.status == 'draft' %}
	<button type="submit" class="brouillon row col-12 btn btn-primary" href="#">Enregistrer</button>
{% endif %}

</div> #}

</div></div>{% endblock %}
