{% extends 'base.html.twig' %}

{% block title %}Decision
{% endblock %}

{% block body %}
	<h1>Decision</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ decision.id }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ decision.title }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ decision.description }}</td>
			</tr>
			<tr>
				<th>Impacts</th>
				<td>{{ decision.impacts }}</td>
			</tr>
			<tr>
				<th>Benefits</th>
				<td>{{ decision.benefits }}</td>
			</tr>
			<tr>
				<th>Risks</th>
				<td>{{ decision.risks }}</td>
			</tr>
			<tr>
				<th>LikeThreshold</th>
				<td>{{ decision.likeThreshold }}</td>
			</tr>
			<tr>
				<th>CreatedAt</th>
				<td>{{ decision.createdAt ? decision.createdAt|date('d-m-Y') : '' }}</td>
			</tr>
			<tr>
				<th>UpdatedAt</th>
				<td>{{ decision.updatedAt ? decision.updatedAt|date('d-m-Y') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<br>
	{% for history in histories %}

		<table class="table">
			<tbody>
				<tr>
					<th>Start</th>
					<th>end</th>
					<th>Status</th>
				</tr>

				<tr>
					<td>
						{{ history.startedAt|date('d-m-Y') }}
					</td>

					<td>{{ history.endedAt|date('d-m-Y') }}
					</td>
					<td>{{ history.status }}</td>
				</tr>

			</tbody>
		</table>

	{% endfor %}

	<br>
	
    {% for content in contents %}
		<table class="table">
			<tbody>
				<tr>
					<th>Created</th>
					<th>User email</th>
					<th>Comment</th>
				</tr>

				<tr>
					<td>
						{{ content.createdAt|date('d-m-Y') }}
					</td>

					<td>{{ content.user.email }}
					</td>
					<td>{{ content.comment }}</td>
				</tr>

			</tbody>
		</table>

	{% endfor %}

    
    <a href="{{ path('app_decision_index') }}">back to list</a>

	<a href="{{ path('app_decision_edit', {'id': decision.id}) }}">edit</a>

	{{ include('decision/_delete_form.html.twig') }}
{% endblock %}
