{% extends 'base.html.twig' %}
{% block header %}
{% include 'partials/_navbar.html.twig' %}
{% endblock %}

{% block title %} Make-Sense - Les utilisateurs {% endblock %}

{% block body %}
  <div class="container mt-4 ">
     <u> <h3> Les utilisateurs </h3></u>
      Il y a {{ users.getTotalItemCount}} utilisateurs 
      <div class="count mt-4 d-flex justify-content-end">
         {# Il y a {{ users.getTotalItemCount}} utilisateurs:  #}
          <a href="{{ path('user_new') }}" class="btn btn-success" role="button">Ajouter un utilisateur</a>
      </div>
      <div>
       <table class="table table-hover mt-4">
            <thead>
                <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Photo</th>
                <th scope="col">Date de création</th>
                <th scope="col">Date de modification </th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Département</th>
                {#<th scope="col">Expertise</th> #}
                <th scope="col">Role</th>  

                <th scope="col">Edition</th>
                <th scope="col">Suppréssion</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.posterFile}}</td>
                        <td>{{user.createdAt |date("m/d/Y")}}</td>
                        <td>{{user.updatedAt |date("m/d/Y")}}</td> 
                        <td>{{user.lastname}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.department}}</td> 
                        {# <td>{{user.expertise}}</td> #}
                        <td>{{user.roles|join(', ')}}</td>    
                        <td>
                        <a href="{{ path('user_edit', { id: user.id}) }}" class="btn btn-info">Modifier</a>
                        </td>
                        <td>
                        <a href="{{ path('user_delete', { id: user.id}) }}" class="btn btn-danger">Supprimer</a>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
                <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(users) }}
                </div>
    </div>
{% endblock %}
