{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Ajouter un utilisateur</h1>

        {{ form_start(form) }}

            <div class="form-group">
               {{ form_label(form.firstname) }}
               {{ form_widget(form.firstname) }}   
            </div>

            <div class="form-group">
               {{ form_label(form.lastname) }}
               {{ form_widget(form.lastname) }}    
            </div>

            <div class="form-group">
               {{ form_label(form.email) }}
               {{ form_widget(form.email) }}  
            </div>

            <div class="form-group">
               {{ form_label(form.roles) }}
               {{ form_widget(form.roles) }}
            </div>

            {{ form_row(form.imageFile) }}

            <div class="form-group">
               {{ form_label(form.phone) }}
               {{ form_widget(form.phone) }}
            </div>

            </div>
            
              <div class="container-fluid">
                        <div class="row mt-4 d-flex justify-content-center">
                            <div class="col-10">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Departement</th>
                                            <th scope="col">Interessé par</th>
                                            <th scope="col">Expert</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for expertise in expertises %}
                                            <tr class="table-active">
                                                <td>{{ expertise.name }}</td>
                                                <td><input type="Checkbox" name="red" value="yes"></td>
                                                <td><input type="Checkbox" name="red" value="yes"></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>     
               </div>     

               {{ form_row(form.submit, { 'label': 'Enregistrer' }) }}
            
        {{ form_end(form) }}
    
{% endblock %}


